<html>
    <head>
        <title>AD</title>
    </head>
    <body>
        <h1>here</h1>
        <form action="/login" method="post">
            First name:<br>
            <input type="text" name="username" value="abcd">
            <br>
            password:<br>
            <input type="password" name="password" value="abcd">
            <br><br>
            <input type="submit" value="Submit">
        </form>
        <script src="/javascripts/pacone.js"></script>
        <script src="/javascripts/entry.js"></script>
    </body>
</html>
